.container {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.about {
    justify-content: center;
    align-items: center;
    width: 475px;
}
.aboutImg {
    width: 500px;
    border: 1px black;
}
